<nav>
  <mat-toolbar class="nav-class">
    <div style="display: flex; align-items: center;">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HomeVista</span>
      <span class="example-spacer"></span>
    </div>

    <div style="width: 250px; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
      <button class="btn-add-property" routerLink="/add-property" aria-label="Example icon-button with heart icon">
        Sell or Rent Property
      </button>
      <button *ngIf="!username; else userExist" class="btn-login" routerLink="/login" aria-label="Example icon-button with heart icon">
        Login
      </button>
      <ng-template #userExist>
        <span (click)="showModal()" class="username-initial" style="background-color: rgb(6, 88, 0);">
          <p *ngIf="!userData.profileImage">{{ getFirstLetter() }}</p>
          <img class="profile-img" *ngIf="userData.profileImage" [src]="'data:image/png;base64,' + userData.profileImage" alt="" srcset="">
        </span>
      </ng-template>
      <div *ngIf="showDropdown" class="dropdown-menu">
        <button (click)="viewProfile()">Profile</button>
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </mat-toolbar>
</nav>