<nav>
  <mat-toolbar class="nav-class">
    <div style="display: flex; align-items: center;">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HomeVista</span>
      <span class="example-spacer"></span>
    </div>

    <div style="width: 250px; padding: 10px; display: flex; justify-content: space-between;">
      <button class="btn-add-property" routerLink="/add-property" aria-label="Example icon-button with heart icon">
        Sell or Rent Property
      </button>
      <button class="btn-login" routerLink="/login" aria-label="Example icon-button with heart icon">
        Login
      </button>
    </div>
  </mat-toolbar>
</nav>