.nav-class {
  background-color: rgb(58, 73, 90);
  justify-content: space-between;
  color: white;
  width: 100vw;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.btn-login {
  padding: 7px 15px;
  background-color: rgb(104, 103, 103);
  color: white;
  /* border: 1px solid white; */
  border-radius: 5px;
  cursor: pointer;
}
.btn-add-property {
  padding: 7px 15px;
  height: 40px;
  background-color: rgb(104, 103, 103);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.example-full-width {
  width: 100%;
}
.username-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid ;
}
.username-initial:hover{
  cursor: pointer;
}
.username-container {
  position: relative;
  display: inline-block;
}

.username-initial {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 64px; /* Adjust as needed */
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  width: 100px;
  z-index: 99;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}