<form action="" [formGroup]="propertyDetail">
  <mat-stepper [linear]="false" #stepper>
    <mat-step>
      <!-- <form [formGroup]="propertyDetailsFormGroup"> -->
      <ng-template matStepLabel>Fill out Property Details</ng-template>
      <div class="property-field">
        <mat-form-field class="property-mat-field">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Enter title" formControlName="title" required>
        </mat-form-field>
        <mat-form-field class="property-mat-field">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter Description" formControlName="description" required>
        </mat-form-field>
        <mat-form-field class="property-mat-field">
          <mat-label>Property Type</mat-label>
          <input matInput placeholder="Enter Property type" formControlName="propertyType" required>
        </mat-form-field>
        <mat-form-field class="property-mat-field">
          <mat-label>SquareFeet</mat-label>
          <input matInput placeholder="Enter SquareFeet" formControlName="squareFeet" required>
        </mat-form-field>
        <mat-form-field class="property-mat-field">
          <mat-label>Bedroom</mat-label>
          <input matInput placeholder="Enter Bedroom" formControlName="bedrooms" required>
        </mat-form-field>
        <mat-form-field class="property-mat-field">
          <mat-label>Bathroom</mat-label>
          <input matInput placeholder="Enter Bathroom" formControlName="bathrooms" required>
        </mat-form-field>
        <mat-form-field class="property-mat-field">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Enter Price" formControlName="price" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
      <!-- </form> -->
    </mat-step>
    <mat-step label="Fill out your address">
      <div class="property-field">
        <form [formGroup]="propertyAddressFormGroup">
          <h3>Address</h3>
          <mat-form-field class="property-mat-field">
            <mat-label>Street</mat-label>
            <input matInput formControlName="street" placeholder="Please Enter your Street" required>
          </mat-form-field>
          <mat-form-field class="property-mat-field">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="Please Enter your City" required>
          </mat-form-field>
          <mat-form-field class="property-mat-field">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="Please Enter your State" required>
          </mat-form-field>
          <mat-form-field class="property-mat-field">
            <mat-label>ZipCode</mat-label>
            <input matInput formControlName="zipCode" placeholder="Please Enter your Zipcode" required>
          </mat-form-field>
          <mat-form-field class="property-mat-field">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" placeholder="Please Enter your Country" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="Upload Images">
      <!-- <form [formGroup]="propertyAddressFormGroup"> -->
      <div class="upload-images" (click)="fileInput.click()">
        <mat-icon>file_copy</mat-icon>
      </div>
      <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" multiple>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="Property()">Done</button>
      </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>