<!-- <div class="properties">
    <div class="shortlisted" *ngFor="let property of shortListedProperties">
        <div class="property-img">
            <div class="img">
                <img *ngIf="property.images.length > 0; else displayDummy" [src]="'data:image/png;base64,' + property.images[0]" alt="Property Image" class="card-image">
                <ng-template #displayDummy>
                    <img src="../../../../assets/dummyProperty.webp" alt="Property Image" class="card-image">
                </ng-template>
            </div>
            <div class="property-details">
                <h4 class="card-title">{{property.title}}</h4>
                <p class="card-location">{{property.address.street}}</p>
                <p class="card-price"><b>{{property.price | currencypipe}}</b></p>
                <p class="card-area">{{property.squareFeet | squarefeet}}</p>
            </div>
        </div>
    </div>
</div> -->