.container {
  /* border: 1px solid red; */
  padding: 10px;
}
.property {
  display: flex;
  justify-content: space-evenly;
}
.img-property {
  width: 350px;
  aspect-ratio: 16/9;
  /* border: 1px solid black; */
}
.btn-slide {
  background-color: rgb(250, 250, 250);
  border: none;
}
.btn-slide:hover {
  background-color: rgb(194, 192, 192);
}
.btn-slide-disabled {
  background-color: rgb(250, 250, 250);
  border: none;
}
.featured-tag {
  background-color: rgb(156, 156, 0);
  display: block;
  width: auto;
  padding: 5px;
  position: absolute;
  z-index: 4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 20px;
  color: white;
}
.card-property {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  padding: 10px;
  height: 380px;
  border: 0.5px solid grey;
  border-radius: 10px;
  box-shadow: 2px 0 5px;
}
.card-content {
  /* border: 1px solid red; */
  padding: 5px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.featured-title{
  cursor: pointer;
}