<div class="container" *ngIf="featuredProperties.length">
  <h2>Featured Properties</h2>
  <div class="property">
    <button (click)="decrement()" [ngClass]="(startIndex === 0) ? 'btn-slide-disabled' : 'btn-slide'"
      [disabled]="startIndex === 0">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div *ngFor="let property of displayedProperties" class="card-property">
      <div class="featured-tag">
        featured
      </div>
      <mat-card style=" width: 400px; align-items: center;">
        <img class="img-property" [src]="'data:image/png;base64,' + property.images[0]" alt="">
      </mat-card>
      <div class="card-content">
        <div class="title">
          <h4 class="featured-title" (click)="getProperty(property._id)">{{property.title}}</h4>
        </div>
        <div class="price">
          <b>{{property.price | currencypipe}}</b>
        </div>
        <div class="location">
          {{property.address.street}},
          {{property.address.city}},
          {{property.address.state}}
        </div>
        <div class="interested-btn">
          <button mat-raised-button color="primary" (click)="interestedButton()">Interested</button>
        </div>
      </div>
    </div>
    <button (click)="increment()"
      [ngClass]="(startIndex + itemsPerPage >= featuredProperties.length) ? 'btn-slide-disabled' : 'btn-slide'"
      [disabled]="startIndex + itemsPerPage >= featuredProperties.length">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>