<app-header></app-header>
<div class="banner-holder" (mousemove)="MoveContent($event)">
    <div class="hidingcontent">
        <div class="select-type">
            <div class="select-btn">
              <button class="btn-type" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">New
                <br>Projects</button>
            </div>
            <div class="select-btn">
              <button class="btn-type">Buy<br> Properties</button>
            </div>
            <div class="select-btn">
              <button class="btn-type">Rent <br>Properties</button>
            </div>
            <div class="select-btn">
              <button class="btn-type">PG/<br>Hostels</button>
            </div>
            <div class="select-btn">
              <button class="btn-type">Plot & <br>Lands</button>
            </div>
            <div class="select-btn">
              <button class="btn-type">Commercial <br>Properties</button>
            </div>
            <div class="select-btn">
              <button style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;" class="btn-type">Find<br>
                Agents</button>
            </div>
          </div>
          <form #searchForm="ngForm" class="input-search">
            <input (keydown.enter)="onEnter(searchForm.value)" type="text" placeholder="Search.." value="searchTerm.search" name="search" ngModel>
            <mat-form-field class="budget-select">
              <mat-label>Budget</mat-label>
              <mat-select [(ngModel)]="selectedBudget" name="budget">
                <mat-option *ngFor="let budget of budgets" [value]="budget.value">
                  {{budget.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn-search" (click)="onEnter(searchForm.value)" mat-stroked-button>
              Search
            </button>
          </form>
          <img src=".../../../../../assets/head-image.jpg" class="banner-img">
          <h3 id="bannerHeading" class="banner-heading">Get Your Dream House</h3>
    </div>
</div>
  <div class="main-content">
    <div class="content">
      <div class="shortlisted">
        <p class="shortlist-heading">Shortlisted Properties</p>
        <!-- <div class="shortlist-cards"> -->
          <!-- <div class="sm-card"> -->
            <app-shortlisted-properties [shortListedProperties]="shorlistProperties"></app-shortlisted-properties>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="content-card" *ngIf="relatedProperties">
        <div class="card" *ngFor="let property of relatedProperties">
            <div class="property-details">
              <div class="property-img">
                <img *ngIf="property.images.length > 0; else displayDummy" [src]="'data:image/png;base64,' + property.images[0]" alt="Property Image" class="card-image">
                <ng-template #displayDummy>
                  <img src="../../../../assets/dummyProperty.webp" alt="Property Image" class="card-image">
                </ng-template>
              </div>
              <div class="card-body">
                <div class="shortlist-share">
                  <button class="btn-icon" (click)="shareFavBtn(0, property._id)"><mat-icon *ngIf="checkFav(property._id)" style="color: red;">favorite</mat-icon><mat-icon *ngIf="!checkFav(property._id)">favorite_border</mat-icon></button>
                  <button class="btn-icon" (click)="shareFavBtn(1, property._id)"><mat-icon>share</mat-icon></button>
                </div>
                <h4 class="card-title">{{property.title}}</h4>
                <p class="card-location">{{property.address.street}}</p>
                <p class="card-price"><b>{{property.price | currencypipe}}</b></p>
                <p class="card-area">{{property.squareFeet | squarefeet}}</p>
                <p class="card-description">{{property.description}}</p>
              </div>
            </div>
            <div class="contact">
              <div class="owner-details">
                <div class="owner">
                  <img src=".../../../../../assets/dummyUser.webp" alt="Owner Logo" class="owner-logo">
                  <span class="owner-name">{{property.owner}}</span>
                </div>
                <div class="card-footer">
                  <button class="whatsapp-btn">Whatsapp</button>
                  <!-- <button class="contact-btn">Contact Owner</button> -->
                  <button class="contact-btn" (click)="buyNow(property._id)" >Buy Now</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
