/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
app-header {
    height: 60px; /* Adjust this value according to the actual height of your header */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays on top */
}
